<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="com.app_Listeners.Base_Listeners"/>
</listeners>

<parameter name="username" value="qatrainer"></parameter>
<parameter name="password" value="admin123"></parameter>


  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Project_TestCases.LoginAppservice"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
